@font-face {
    font-family: 'Inter';
    src: url('org/softwarearchitecturedesigngroup10/view/resources/fonts/Inter.ttf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

#rootPane {
    -fx-font-family: 'Inter';
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 10pt;
    -fx-background-radius: 8 8 8 8;
}

#titleBar {
    -fx-background-radius: 7 7 0 0;
}

#bottomPane {
    -fx-background-radius: 0 0 7 0;
}

#backgroundPane {
    -fx-background-color: transparent;
}

#fileNavigation, #shapeNavigation, #clipboardNavigation,
#lineButton, #rectangleButton, #ellipseButton,
#openFileButton, #saveFileButton, #newCanvasButton,
#cutShapeButton, #copyShapeButton, #pasteShapeButton,
#eraseShapeButton, #selectToolButton {

    -fx-background-color: transparent;
    -fx-background-radius: 7;
}

#closeButton, #minimizeButton, #maximizeButton {
    -fx-background-color: transparent;
}

#minimizeButton:hover, #maximizeButton:hover {
    -fx-background-color: #3c3d45;
    -fx-background-radius: 0;
}

#closeButton:hover {
    -fx-background-color: #dd4242;
    -fx-background-radius: 0 7 0 0;
}

#fileNavigation:hover, #shapeNavigation:hover, #clipboardNavigation:hover,
#lineButton:hover, #rectangleButton:hover, #ellipseButton:hover,
#openFileButton:hover, #newCanvasButton:hover, #saveFileButton:hover,
#cutShapeButton:hover, #copyShapeButton:hover, #pasteShapeButton:hover,
#eraseShapeButton:hover,
#selectToolButton:hover {
    -fx-background-color: #e5e5e7;
}

#fileNavigation:selected, #shapeNavigation:selected, #clipboardNavigation:selected,
#lineButton:selected, #rectangleButton:selected, #ellipseButton:selected,
#openFileButton:selected, #saveFileButton:selected, #newCanvasButton:selected,
#eraseShapeButton:selected,
#selectToolButton:selected {
    -fx-background-color: #5874e6;

}

#lineButton:selected SVGPath, #rectangleButton:selected SVGPath, #ellipseButton:selected SVGPath,
#openFileButton:selected SVGPath, #saveFileButton:selected SVGPath, #newCanvasButton:selected SVGPath,
#eraseShapeButton:selected SVGPath,
#selectToolButton:selected SVGPath {
    -fx-fill: #ffffff;
}

#lineButton:selected:hover, #rectangleButton:selected:hover, #ellipseButton:selected:hover,
#selectToolButton:selected:hover {
    -fx-background-color: #4366f6;
}

#fileNavigation:pressed, #shapeNavigation:pressed, #clipboardNavigation:pressed {
    -fx-background-color: #e5e5e7;
}

#navigationPanel, #toolbarPanel {
    -fx-background-color: #f7f7f9;
    -fx-border-style: solid solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}

#toolbar {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}

#bottomPane {
    -fx-background-color: #f7f7f9;
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}

#canvasToolbar {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}




#fileTab, #shapesTab, #clipboardTab {
    -fx-pref-width: 45; -fx-pref-height: 36;
    -fx-max-width: 32; -fx-max-height: 36;
    -fx-min-width: 32; -fx-min-height: 36;
    /*-fx-padding: 0 300 0 0;*/
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent /*#f7f7f9;*/;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}

#fileTab:selected .focus-indicator, #shapesTab:selected .focus-indicator, #clipboardTab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#fileTab:selected SVGPath, #shapesTab:selected SVGPath, #clipboardTab:selected SVGPath {
    -fx-fill: #fffffe;/*#696b77;*/
}

#fileTab SVGPath, #shapesTab SVGPath, #clipboardTab SVGPath {
    -fx-fill: #797979; /*#b6b6bc;*/
}

#rootPane {
    -fx-background-color: #464646;
}

#tab {
    -fx-background-color: rgba(255, 105, 180, 0.11);
}

/*#fileTab .tab-label {
    -fx-graphic: url("/icons/files.svg");
}*/

#fileTabContainer, #shapesTabContainer, #clipboardTabContainer {
    -fx-background-color: #f7f7f9;
    -fx-border-style: solid solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
    -fx-background-radius: 8 0 0 0;
    -fx-border-radius: 8 0 0 0;
}

#quickToolbar {
    -fx-background-color: #fffffe;
    -fx-border-style: solid hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #eaebef;
}

#canvas {
    -fx-background-color: transparent;
}

#operatingArea {
    -fx-background-color: #fffffe;
}

#titleBar {
    /*-fx-background-color: #242525;*/
    -fx-background-color: linear-gradient(to right, rgba(255, 105, 180, 0.11), rgba(255, 165, 0, 0.07), rgba(255, 255, 0, 0.08),
    rgba(0, 128, 0, 0.07), rgba(0, 191, 255, 0.1), rgba(138, 43, 226, 0.09));

    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.watercolorTitleBar {
    -fx-background-color: linear-gradient(to right, rgba(255, 105, 180, 0.11), rgba(255, 165, 0, 0.07), rgba(255, 255, 0, 0.08),
    rgba(0, 128, 0, 0.07), rgba(0, 191, 255, 0.1), rgba(138, 43, 226, 0.09));
}

.unfocused {
    -fx-background-color: linear-gradient(to right, rgba(255, 105, 180, 0.02), rgba(255, 165, 0, 0.02), rgba(255, 255, 0, 0.02),
    rgba(0, 128, 0, 0.02), rgba(0, 191, 255, 0.02), rgba(138, 43, 226, 0.02));
}

.separator .line {
    -fx-background-color: #eaebef;
    -fx-pref-height: 1;
    -fx-pref-width: 1;
    -fx-border-color: null;
}

#fillColorPicker, #strokeColorPicker, #fillColorToChangePicker, #strokeColorToChangePicker {
    -fx-color-rect-width: 24;
    -fx-color-rect-height: 24;
    -fx-padding: 0 0 0 0;
    -fx-font-size: 1;
    -fx-background-color: transparent;
}

#fillColorPicker .large-rect-picker, #strokeColorPicker .large-rect-picker {
    -fx-border-color: #eaebef;
}

#fillColorPicker .focus-indicator, #strokeColorPicker .focus-indicator {
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
    -fx-min-height: 405px;
    -fx-max-height: 40px;
    -fx-pref-height: 40px;
}
#quickToolbar .button {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

#quickToolbar .button:hover {
    -fx-background-color: #e5e5e7;
}

#bottomLeftCorner {
    -fx-background-color: rgba(255, 105, 180, 0.11);
    -fx-background-radius: 0 0 7 6;
    /*-fx-border-width: 0 1 0 0;*/
    /*-fx-border-color: white*/
}

#fillColorToChangeIcon:disabled, #strokeColorToChangeIcon:disabled {
    -fx-opacity: 0.5;
}

#canvasWidthInput, #canvasHeightInput {

}

#canvasWidthInput, #canvasHeightInput {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#canvas {
    -fx-background-color: #fffffe;
}

#scrollableCanvasContainer {
    -fx-background-color: #f7f7f9;;
}

/****************************** SCROLLBAR **********************/

.scroll-bar, .corner {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-padding: 1;
}
.scroll-bar > .track-background {
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 10;
    -fx-padding: 5 5 5 5;
}
.scroll-bar > .thumb {
    -fx-background-color: #898989;
    -fx-background-insets: 3;
    -fx-background-radius: 5;
}
.scroll-bar:vertical > .thumb {
    -fx-background-color: #898989;
    -fx-background-insets: 3;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
}
.scroll-bar:horizontal > .increment-button {
    -fx-padding: 2 5 2 2;
}
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 2 2 5;
}
.scroll-bar:vertical > .increment-button {
    -fx-padding: 2 2 5 2;
}
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 2 2;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #898989;
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: #5e5e5e;
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: #5f5f5f;
}
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 4 3 4 3;
    -fx-shape: "M1.496 8.664C.94 8.293.606 7.669.606 7 .606 6.331.94 5.707 1.496 5.336 3.354 4.098 5.901 2.399 7.891 1.073 8.504.664 9.293.626 9.944.974 10.594 1.322 11 1.999 11 2.737 11 5.303 11 8.697 11 11.263 11 12.001 10.594 12.678 9.944 13.026 9.293 13.374 8.504 13.336 7.891 12.927 5.901 11.601 3.354 9.902 1.496 8.664Z";
}
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 4 3 4 3;
    -fx-shape: "M9.504 8.664C10.06 8.293 10.394 7.669 10.394 7 10.394 6.331 10.06 5.707 9.504 5.336 7.646 4.098 5.099 2.399 3.109 1.073 2.496.664 1.707.626 1.056.974.406 1.322 0 1.999 0 2.737 0 5.303 0 8.697 0 11.263 0 12.001.406 12.678 1.056 13.026 1.707 13.374 2.496 13.336 3.109 12.927 5.099 11.601 7.646 9.902 9.504 8.664Z";
}
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 3 4 3 4;
    -fx-shape: "M5.264 2.039C5.62 1.416 6.282 1.031 7 1.031 7.718 1.031 8.38 1.416 8.736 2.039 10.086 4.4 11.948 7.658 13.29 10.008 13.644 10.627 13.641 11.387 13.283 12.004 12.926 12.62 12.267 13 11.554 13 8.862 13 5.138 13 2.446 13 1.733 13 1.074 12.62.717 12.004.359 11.387.356 10.627.71 10.008 2.052 7.658 3.914 4.4 5.264 2.039Z";
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 3 4 3 4;
    -fx-shape: "M5.264 10.961C5.62 11.584 6.282 11.969 7 11.969 7.718 11.969 8.38 11.584 8.736 10.961 10.086 8.6 11.948 5.342 13.29 2.992 13.644 2.373 13.641 1.613 13.283.996 12.926.38 12.267 0 11.554 0 8.862 0 5.138 0 2.446 0 1.733 0 1.074.38.717.996.359 1.613.356 2.373.71 2.992 2.052 5.342 3.914 8.6 5.264 10.961Z";
}
.scroll-bar:horizontal > .increment-button:pressed > .increment-arrow,
.scroll-bar:horizontal > .decrement-button:pressed > .decrement-arrow {
    -fx-padding: 3 3 3 3;
}
.scroll-bar:vertical > .increment-button:pressed > .increment-arrow,
.scroll-bar:vertical > .decrement-button:pressed > .decrement-arrow {
    -fx-padding: 3 3 3 3;
}




